<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">

    <display-name>Otto</display-name>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webAppRootKey:otto-application-rootKey</param-value>
    </context-param>

    <!-- config logger -->
    <context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>classpath:logback-otto.xml</param-value>
    </context-param>

    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
    </listener>

    <!-- spring configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>servletEngine</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletEngine</servlet-name>
        <url-pattern>/engine/call</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>itWorks.jsp</welcome-file>
    </welcome-file-list>

    <!-- UTILE -->

    <servlet>
        <servlet-name>servletStderr</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletStderr</servlet-name>
        <url-pattern>/stderr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletstdout</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletstdout</servlet-name>
        <url-pattern>/stdout</url-pattern>
    </servlet-mapping>

</web-app>