<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:int="http://www.springframework.org/schema/integration" xmlns:int-http="http://www.springframework.org/schema/integration/http"
    xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.2.xsd
        http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http-2.2.xsd
        http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.2.xsd">

    <bean id="engineShiFuMi" class="otto.process.engines.EngineShiFuMi" />

    <bean id="engineTicTacToe" class="otto.process.engines.EngineTicTacToe" />

    <bean id="engineServiceActivator" class="otto.web.EngineServiceActivator">
        <property name="engines">
            <map>
                <entry key="Rochambeau" value-ref="engineShiFuMi" />
                <entry key="TicTacToe" value-ref="engineTicTacToe" />
            </map>
        </property>
    </bean>

    <int:channel id="httpServletEngineInbound" />
    <int-http:inbound-channel-adapter id="servletEngine" channel="httpServletEngineInbound" />

    <int:channel id="httpRefereeOutbound" />
    <int-http:outbound-channel-adapter channel="httpRefereeOutbound"
        url-expression="headers.Referee + '?' + T(otto.web.ParamConstantes).GAME + '={game}&amp;' + T(otto.web.ParamConstantes).MOVE_ID + '={moveId}&amp;' + T(otto.web.ParamConstantes).VALUE + '={value}'"
        http-method="GET" charset="${project.build.sourceEncoding}">
        <int-http:uri-variable name="game" expression="payload.get(T(otto.web.ParamConstantes).GAME)" />
        <int-http:uri-variable name="moveId" expression="payload.get(T(otto.web.ParamConstantes).MOVE_ID)" />
        <int-http:uri-variable name="value" expression="payload.get(T(otto.web.ParamConstantes).VALUE)" />
    </int-http:outbound-channel-adapter>

    <int:service-activator id="service" input-channel="httpServletEngineInbound" output-channel="httpRefereeOutbound"
        ref="engineServiceActivator" method="call" />

    <!-- UTILE -->

    <int:channel id="stderr" />
    <int-http:inbound-channel-adapter id="servletStderr" channel="stderr" />

    <int-stream:stderr-channel-adapter channel="stderr" append-newline="true" />

    <int:channel id="stdout" />
    <int-http:inbound-channel-adapter id="servletStdout" channel="stdout" />

    <int-stream:stdout-channel-adapter channel="stdout" append-newline="true" />

</beans>